$police-logo:  'Syncopate', sans-serif;
$police-text: 'Tajawal', sans-serif;
$police-text-2: 'Roboto', sans-serif;

$color-header-middle: #455869;
$color-header-dark: #182836;
$color-body-middle: #bbc4cc;

$fadeDurationTuto: 200ms;